<section class="about page" id="ABOUT">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- ABOUT US SECTION TITLE-->
                <div class="section_title">
                    <h2>Dataworkz</h2>
                    <p>
                        Data wordt steeds belangrijker voor de bedrijfsvoering van bedrijven en overheden. Met name
                        de informatie die in de enorme hoeveelheid data verborgen zit. Het wordt ook wel de olie
                        van 21e eeuw genoemd. Deze olie is noodzakelijk om bedrijven en overheden beter te laten
                        presteren. Informatie uit data is belangrijk om een voorsprong te nemen of deze te vergroten.
                        Om van data informatie te maken komt echter een hoop kijken.
                        Daar heb je experts voor nodig. Experts die begrijpen hoe je data technisch moet ontsluiten
                        (data-engineers). Experts die er voor zorgen dat je daadwerkelijk ook informatie uit je data
                        gaat halen
                        (data-scientists). Dat is waarom wij Dataworkz zijn gestart. <br>Wij zijn de big / smart en fast
                        data experts.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="inner_about_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_phone wow fadeInLeft" data-wow-duration=".75s" data-wow-delay=".25s">
                        <!-- PHONE -->
                        <!--{{ '/favicon/apple-icon-57x57.png' | prepend: site.baseurl }}-->
                        <img src="{{ '/images/dataworkz-icon-1org.png' | prepend: site.baseurl }}" alt="Dataworkz icon" style="padding: 20px;width: 80%">
                    </div>
                </div>
                <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- TITLE -->
                    <div class="inner_about_title">
                        <h2>Waarom Dataworkz?</h2>
                        <p>Dataworkz is een organisatie die u helpt met uw data vraagstukken. Wij leggen de basis voor
                            een data gedreven organisatie die klaar is voor de toekomst.</p>
                    </div>
                    <div class="inner_about_desc">

                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="pe-7s-timer"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Expertise</h3>
                            <p>Onze experts zorgen ervoor dat u informatie krijgt om uw omgeving te optimaliseren en dat
                                u continu in
                                staat bent op basis van deze informatie de juiste beslissingen te nemen.
                            </p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                            <!-- ICON -->
                            <div><i class="pe-7s-target"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Ontzorgen</h3>
                            <p>Wij ontzorgen u ook in de technische realisatie van dit alles. Techniek is essentieel om
                                daadwerkelijk tot goede resultaten te kunnen komen.
                            </p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                            <!-- ICON -->
                            <div><i class="pe-7s-stopwatch"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Passie</h3>
                            <p>Dit combineren wij met een hoge dosis drive en passie maar vooral ook lol en plezier in
                                ons werk.
                            </p>
                        </div>
                        <!-- END SINGLE DESC -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us -->
