<section class="parallax page" id="CONTACT">
    <div class="section_overlay">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 wow bounceIn">
                <!-- Start Contact Section Title-->
                <div class="section_title">
                    <h2>Contact opnemen?</h2>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="contact_form wow bounceIn">
            <div class="container">

                <div class="col-sm-4">
                    <div class="inner_about_desc">
                        <p>
                        <h2>Dataworkz</h2>
                        <div>
                            Tractieweg 41 studio B<br>
                            3534 AP Utrecht<br>
                            +31 (0)6 10 49 20 44<br>
                            <a href="mailto:info@testcoders.nl">info@dataworkz.nl</a>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2450.6012868582907!2d5.078249415792034!3d52.10518757973783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c66fa184b3cb03%3A0xc9a412868eb8c684!2sTractieweg+41%2C+3534+AP+Utrecht!5e0!3m2!1sen!2snl!4v1495098505078"
                                width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-8">

                    <!-- START ERROR AND SUCCESS MESSAGE -->
                    <div class="form_error text-center">
                        <div class="name_error hide error">Please Enter your name</div>
                        <div class="email_error hide error">Please Enter your Email</div>
                        <div class="email_val_error hide error">Please Enter a Valid Email Address</div>
                        <div class="message_error hide error">Please Enter Your Message</div>
                    </div>
                    <div class="Sucess"></div>
                    <!-- END ERROR AND SUCCESS MESSAGE -->

                    <!-- FORM -->
                    <form role="form">
                        <!--<div class="row">-->
                            <!--<div class="col-md-4">-->
                                <input type="text" class="form-control" id="name" placeholder="Naam">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Onderwerp">
                            <!--</div>-->


                            <!--<div class="col-md-8">-->
                            <textarea class="form-control" id="message" rows="25" cols="10"
                                      placeholder="  Bericht Text..."></textarea>
                                <button type="button" class="btn btn-default submit-btn form_submit">VERSTUUR
                                </button>
                            <!--</div>-->
                        <!--</div>-->
                    </form>
                    <!-- END FORM -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInLeft">
                    <div class="social_icons">
                        <ul>
                            <li><a href="https://www.linkedin.com/company-beta/18051501/"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="https://www.meetup.com/nl-NL/DataWorkz/"><i class="fa fa-meetup"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
