<section class="posts_screen page" id="NEWS">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
                <!-- APPS SCREEN TITLE -->
                <div class="section_title">
                    <h2>Nieuws</h2>
                </div>
                <!-- END APPS SCREEN TITLE -->


            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% for post in site.posts limit: 6 %}
                <div class="square">
                    <div class="content">

                        <i class="fa fa-blog fa-2x" aria-hidden="true"></i>
                        {% if post.type == "event" %}
                        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                        {% endif %}
                        {% if post.type == "blog" %}
                        <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                        {% endif %}
                        {% if post.type == "fun" %}
                        <i class="fa fa-play-circle-o fa-2x" aria-hidden="true"></i>
                        {% endif %}
                        <br>
                        <h3>
                            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}
                            </a>
                        </h3>
                        {{ post.excerpt | truncatewords: 30}}
                    </div>
                </div>
                {% endfor %}

                <div class="col-md-10 col-md-offset-1" style="align-items: center">
                Length {{ site.posts.size }}
                {% if site.posts.size > 3 %}
                Who yeah
                {% endif %}
                </div>
            </div>
        </div>
    </div>

</section>