<section id="TEAM" class="testimonial parallax">


    <div class="section_overlay">
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="section_title_snow">
                        <h2>Het team</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="the-team-carousel" class="owl-carousel owl-theme">


                        {% for item in site.team %}
                        <div class="item" style="width: 300px" data-hash="{{item.name}}">
                            <a href="#{{item.name}}" class="pop" data-toggle="modal"
                               data-target="#{{item.mugshot | remove:'.'}}">
                                <img src="{{site.baseurl}}/images/team/{{item.mugshot}}"
                                     alt="{{item.name}}" data-title="{{item.name}}">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    {% for item in site.team %}
                    <div class="modal fade" id="{{item.mugshot | remove:'.'}}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!--TODO Make a close cross on top of the window-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close close-profile-modal" data-dismiss="modal" aria-hidden="true">-->
                                        <!--<span style="font-size: x-large"> x</span>-->
                                    <!--</button>-->
                                <!--</div>-->
                                <div class="modal-body ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!--TODO make this zoom -->
                                            <img src="{{site.baseurl}}/images/team/{{item.mugshot}}"
                                                 style="width: 100%;height: 100%">
                                        </div>
                                        <div class="col-md-6">
                                            <h2>{{item.name}}</h2>
                                            {{item.content}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">

                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <div style="padding-top: 20px" class="team-list">
                        <ul>
                            {% for item in site.team %}
                            <li>
                                <a href="#{{item.name}}"
                                   style="padding-top: 10px;padding-left: 5px;padding-right: 5px;color: white;hover:gray">{{item.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-2"></div>


            </div>
        </div>
    </div>
</section>