<section id="TEAM" class="testimonial parallax">

    <div class="section_overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="section_title_snow">
                        <h2>Het team</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInDown">
                    <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for i in (0..site.team.size)%}
                                {% case i %}
                                    {% when 0 %}
                                        <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                                    {% else %}
                                        {% if i != site.team.size %}
                                        <li data-target="#carousel-example-caption-testimonial" data-slide-to="{{i}}"></li>
                                        {% endif %}
                                {% endcase %}
                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for item in site.team limit: 1 offset: 0 %}
                            <div class="item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <!--{{ '/css/$1' | prepend: site.baseurl }}-->
                                            <img src="{{site.baseurl}}/images/team/{{item.mugshot}}" height="350" alt="A mugshot">
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>{{item.name}}</h2>
                                                <h4><span>{{item.role}},</span> {{item.alias}}</h4>
                                                "{{item.content}}"
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% for item in site.team  offset: 1 %}
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <!--{{ '/css/$1' | prepend: site.baseurl }}-->
                                            <img src="{{site.baseurl}}/images/team/{{item.mugshot}}" height="350" alt="A mugshot">
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>{{item.name}}</h2>
                                                <h4><span>{{item.role}},</span> {{item.alias}}</h4>
                                                "{{item.content}}"
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>