<section class="workatdataworkz parallax" id="JOBS">
    <!--<div class="section_overlay">-->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- Start Contact Section Title-->
                <div class="section_title_snow">
                    <h1>Vacature</h1>
                    <br/>
                    <h2>Wij zoeken</h2>
                    <p>
                        Gedreven <span style="font-size: 3rem">Data Enthousiasts</span> (<b>Engineering</b>,
                        <b>Science</b> en <b>Visualization</b>)
                        die het verschil kunnen maken bij
                        onze klanten. Professionals die het leuk vinden om in een jong bedrijf kansen te pakken en samen
                        met
                        <b>vakgenoten</b> te werken aan prestaties van formaat. Professionals die <b>communicatief
                        sterk</b> zijn, in Agile
                        projecten willen werken bij toonaangevende klanten, deel willen uitmaken van een leuk team van
                        experts,
                        graag <b>kennis delen</b> en beloond willen worden op hun waarde.
                    </p>
                    <h2>Wij vragen</h2>
                    <p>
                        In de rol van <b>Data Engineer</b> ben je verantwoordelijk voor het opzetten en onderhouden van
                        data landschappen
                        en het ophalen, verwerken, bewerken en beschikbaar maken van de inhoud van deze landschappen. Je
                        werkt samen met veel
                        stakeholders om zo tot een schaalbare, betrouwbare en flexibele oplossing te komen waar
                        makkelijk mee gewerkt kan worden.
                        Als <b>Data Engineer</b> heb jij grote kennis van en ervaring met het volgende:

                    <ul class="listing">
                        <li>Het uitvoeren van systematische datakwaliteit checks</li>
                        <li>Het analyseren en optimaliseren van database performance</li>
                        <li>Kennis van één of meerdere programmeertalen (zoals <b>JAVA</b>, <b>SCALA</b>, C++, C#)</li>
                        <li>(Programmeer)vaardigheden in data-analyse tools (zoals Python, <b>Hadoop</b>)</li>
                        <li>Kennis van big dataprocessing (zoals MapReduce, <b>Spark</b>, Apache <b>Kafka</b> en Flink)
                        </li>
                        <li>Kennis van big data storage (zoals HDFS, Hive, HBASE, Cassandra, MongoDB, Neo4J, FlockDB)
                        </li>
                        <li>Kennis van search engines (zoals ElasticSearch)</li>
                        <li>Toepassen van Machine Learning en technieken</li>
                    </ul>

                    <p>
                        In de rol van <b>Data Scientist</b> ben je verantwoordelijk voor het transformeren van ruwe
                        data tot waardevolle inzichten. Je gebruikt data mining en machine learning technieken om trends
                        in de data op te sporen en toont deze in overzichtelijke dashboards. Als <b>Data Scientist</b>
                        heb
                        jij
                        grote kennis van en ervaring met het volgende:

                    <ul>
                        <li>Data mining technieken (bijvoorbeeld decision trees en Naive Bayes)</li>
                        <li>Machine learning technieken (bijvoorbeeld neural networks)</li>
                        <li>Gebruik maken van data structuren</li>
                        <li>SQL (en soortgelijke talen), Hadoop, Spark, <b>R</b>, Matlab en <b>Python</b></li>
                    </ul>

                    <p>
                        In de rol van <b>Data Visualisist</b> ben je verantwoordelijk voor het visueel maken van de
                        inzichten.
                        Data ofwel informatie moet gaan leven en toepasbaar worden voor de organisatie. Data moet het
                        juiste
                        verhaal vertellen. Je gebruikt hiervoor de juiste tooling en technieken die aansluiten bij de
                        huidige
                        trends en ontwikkelingen in de markt.
                        Als <b>Data Visualisist</b> heb jij grote kennis van en ervaring met het volgende:
                    <ul>
                        <li>Data visualisatie tooling zoals bijvoorbeeld <b>Qlikview</b>, <b>PowerBI</b> en
                            <b>Tableau</b>)
                        </li>
                        <li>Het ontwerpen, ontwikkelen en onderhouden van dashboards in de business intelligence
                            applicaties
                        </li>
                        <li>Kennis van front-end ontwikkeling in grote en complexe data omgevingen</li>
                        <li>Kennis eo ervaring met GEO / GIS tooling om GEO data te verwerken (ESRI / ArcGIS)</li>
                        <li>Kennis van Data Science technieken (vooral SQL, R en Python)</li>
                    </ul>

                    <h2>Wij Bieden</h2>
                    <p>
                    <ul class="listing">
                        <li>Innoverende projecten bij toonaangevende opdrachtgevers </li>
                        <li>Een uitdagende baan in een jong groeiend bedrijf </li>
                        <li>Een omgeving waar je het echt samen met elkaar het bedrijf maakt</li>
                        <li>Een team van vakgenoten, waarbij samenwerken, kwaliteit en plezier centraal staat </li>
                        <li>Een inspirerende werkomgeving waarin jouw eigen inbreng gewaardeerd en beloond wordt (en
                            eigenlijk gewoon een must is)
                        </li>
                        <li>Zeer aantrekkelijk salaris, riante bonusregeling gecombineerd met een uitgebreid pakket aan
                            secundaire voorwaarden.
                        </li>

                    </ul>

                    <h2>Interesse?</h2>
                    <p>
                        Geïnteresseerd neem dan contact op met:<br>
                        Bas van der Zwet<br>
                        <a href="mailto:bas@dataworkz.nl">bas@dataworkz.nl</a><br>
                        Tel: +31 6 1049 20 44
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</section>