<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<!-- PRELOADER -->
<div class="spn_hol">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>


{% include title.html %}
{% include about_us.html %}
{% include work_at.html %}


{% include posts.html %}

{% include the_team.html %}
{% include technologies.html %}
{% include contact_form.html %}
{% include footer.html %}
{% include scripts.html %}

</body>

</html>