<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body>
<section class="header">

</section>


<section class="{{page.type}} parallax">
    <ol class="breadcrumb">
        <li><a href="/#">Home</a></li>
    </ol>

    <div class="section_overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!--&lt;!&ndash; Start Contact Section Title&ndash;&gt;-->
                    <div class="section_post">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>